<nav class="sidebar__nav" role="navigation">
  <ul class="sidebar__menu" id="sidemenu">
    <li class="sidebar__menu-item">
      <%= link_to admin_root_path, class: "sidebar__menu-link #{class_for_active_menu_link(admin_root_path)}" do %>
        <%= image_tag 'icon-home.svg', class: 'sidebar__menu-icon', alt: 'Home icon' %>
        <span class="sidebar__menu-text">Home</span>
      <% end %>
    </li> <!-- End of .sidebar__menu-item -->

    <li class="sidebar__menu-item panel"> <!-- .panel is required to implement accordion -->
      <a class="sidebar__menu-link collapsed" href="#menu-service" data-toggle="collapse"
         data-parent="#sidemenu" aria-expanded="false" aria-controls="menu-service">
        <%= image_tag 'icon-service.svg', class: 'sidebar__menu-icon', alt: 'Service icon' %>
        <span class="sidebar__menu-text">Service</span>
        <span class='sidebar__menu-arrow'></span>
      </a>
      <ul class="sidebar__menu collapse" id="menu-service">
        <li>
          <%= link_to 'item 0.1', '#', class: "sidebar__menu-link sidebar__menu-link--secondary #{class_for_active_menu_link('#')}" %>
        </li>
        <li>
          <%= link_to 'item 0.2', '#', class: "sidebar__menu-link sidebar__menu-link--secondary #{class_for_active_menu_link('#')}" %>
        </li>
        <li>
          <%= link_to 'item 0.3', '#', class: "sidebar__menu-link sidebar__menu-link--secondary #{class_for_active_menu_link('#')}" %>
        </li>
        <li>
          <%= link_to 'item 0.4', '#', class: "sidebar__menu-link sidebar__menu-link--secondary #{class_for_active_menu_link('#')}" %>
        </li>
      </ul>
    </li> <!-- End of .sidebar__menu-item -->

    <li class="sidebar__menu-item panel"> <!-- .panel is required to implement accordion -->
      <a class="sidebar__menu-link collapsed" href="#menu-shop" data-toggle="collapse"
         data-parent="#sidemenu" aria-expanded="false" aria-controls="menu-shop">
        <%= image_tag 'icon-service.svg', class: 'sidebar__menu-icon', alt: 'Service icon' %>
        <span class="sidebar__menu-text">Shop</span>
        <span class='sidebar__menu-arrow'></span>
      </a>
      <ul class="sidebar__menu collapse" id="menu-shop">
        <li>
          <%= link_to 'item 0.1', '#', class: "sidebar__menu-link sidebar__menu-link--secondary #{class_for_active_menu_link('#')}" %>
        </li>
        <li>
          <%= link_to 'item 0.2', '#', class: "sidebar__menu-link sidebar__menu-link--secondary #{class_for_active_menu_link('#')}" %>
        </li>
        <li>
          <%= link_to 'item 0.3', '#', class: "sidebar__menu-link sidebar__menu-link--secondary #{class_for_active_menu_link('#')}" %>
        </li>
        <li>
          <%= link_to 'item 0.4', '#', class: "sidebar__menu-link sidebar__menu-link--secondary #{class_for_active_menu_link('#')}" %>
        </li>
      </ul>
    </li> <!-- End of .sidebar__menu-item -->

    <li class="sidebar__menu-item sidebar__menu-item--spacer"></li>

    <li class="sidebar__menu-item">
      <%= link_to '#', class: "sidebar__menu-link #{class_for_active_menu_link('#')}" do %>
        <%= image_tag 'icon-home.svg', class: 'sidebar__menu-icon', alt: 'Home icon' %>
        <span class="sidebar__menu-text">Warrancy</span>
      <% end %>
    </li> <!-- End of .sidebar__menu-item -->
  </ul>
</nav>
