<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render 'admin/shared/sidebar' %>

      <div class="page">
        <%= render 'admin/shared/header' %>

        <div class="page__content">
          <div class="container-fluid">
            <%= render 'shared/flash' %>
            <%= yield %>
          </div>
        </div> <!-- End of .page__content -->
      </div> <!-- End of .page -->
    </div>
  </body>
</html>
